html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.site:hover {
    transform: scale(1);
}

#like:hover {
    color: red;
    background-color: antiquewhite;
}