html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}




.like:hover {
    color: indianred;
}
.liked{
    color: red;
}




.card-img-top.best-seller {
    width: 100%;
    height: 20vw;
    min-height: 400px;
    object-fit: cover;
}

.card-img-top.custom {
    width: 100%;
    height: 13vw;
    min-height: 300px;
    object-fit: cover;
}

#zoom {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}

.min-dim {
    min-height: 200px;
    object-fit: cover;
}


