<div class = "container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Benvenuto nella pagina di aggiunta di un nuovo libro!</h1>
            <p>Da qui potrai aggiungere un nuovo libro</p>
        </div>
    </div>
</div>