@model OrderLog

<div class = "container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Benvenuto nella pagina di per ordinare copie del libro</h1>
            <p>Da qui potrai ordinare nuove copie del libro: </p>
            <p><strong>@Model.Book.Title</strong> - <em>@Model.Book.Author</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col shadow-lg rounded">
            <form asp-action="Order" asp-controller="Book" method="post" class="row">
                @Html.AntiForgeryToken()
                <div class="col-md-6 col-12 my-2">
                    <span>Fornitore:</span>
                    <input type="text" class="form-control" asp-for="Book.Title"/>
                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-12 my-2">
                    <span>Autore:</span>
                    <input type="text" class="form-control" asp-for="Book.Author"/>
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
                <div class="text-end my-2">
                    <input type="submit" class="btn btn-small btn-success" value="Modifica">
                </div>
            </form>
        </div>
    </div>
</div>