<div class = "container shadow-lg rounded">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Il libro è quasi tuo!</h1>
            <span id="immagine"></span>
            <p><strong id="titolo"></strong> - <em><span id="autore"></span></em></p>
            <p>Ci serve solo qualche piccola informazione prima di acquistare: </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" class="row" onsubmit="preventDefault()">
                <div class="col-md-6 col-12 my-2">
                    <span>Come ti chiami?</span>
                    <input type="text" class="form-control" id="nome" required/>
                    <div id="noNameMessage"></div>
                </div>
                <div class="col-md-6 col-12 my-2">
                    <span>Quante copie vuoi acquistare?</span>
                    <input type="number" class="form-control" min="0" id="quantita" required/>
                    <div id="outOfStockMessage"></div>
                </div>
                <div class="col-md-6 col-12 my-2">
                    <span>Prezzo totale: </span>
                    <span id="prezzoTotale"></span>
                </div>
                <div class="col-md-6 col-12 text-end d-inline-block my-2">
                    <input class="btn btn-small btn-success" value="Acquista" onclick="send()">
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var url = window.location.pathname;
        var id = parseInt(url.substring(url.lastIndexOf('/') + 1));
        var quantiy = 0;
        var price = 0;
        axios.get('/Api/BookApi/Details/',{params: {id : id}}).then((result) =>{
            document.getElementById("titolo").innerHTML = result.data.title;
            document.getElementById("immagine").innerHTML = `<img src="${result.data.urlImage}" class="w-25" alt="${result.data.title}"/>`
            document.getElementById("autore").innerHTML = result.data.author;
            quantity = result.data.quantity;
            price = result.data.price;
        });

        document.getElementById('quantita').addEventListener('click', Stockcheck);
        document.getElementById('quantita').addEventListener('keyup', Stockcheck);
        document.getElementById('quantita').addEventListener('wheel', function(){setTimeout(Stockcheck, 100)});

        function Stockcheck(){
            document.getElementById("outOfStockMessage").innerHTML = ''
            let numberOfCopies = document.getElementById("quantita").value;
            if(quantity < numberOfCopies){
                document.getElementById("outOfStockMessage").innerHTML = `<span class="text-danger">La quantità di copie specificata non è disponibile, i tempi di consegna potrebbero allungarsi</span>`
            }
            let prezzo = (numberOfCopies * price).toFixed(2)
            document.getElementById("prezzoTotale").innerHTML = `${prezzo} €`
        }

        function send(){
            var quantita = document.getElementById("quantita").value;
            var cliente = document.getElementById("nome").value;
            if(cliente.trim() == ""){
                cliente = null;
                document.getElementById("noNameMessage").innerHTML = `<span class="text-danger">Devi inserire un nome!</span>`
            }
            var data = 
            {
                BookId: id,
                Quantity: quantita,
                Customer: cliente
            }
            
            axios.post('/Api/BookApi/BuyBook', data
            ).then(function (response){
                console.log(response.status);
                if(response.status == 200){
                    window.location.href = "/Home/SellSuccess"
                }
            }).catch(function (error){
                console.log(error);
            });
        }
    </script>
}