<div class="container">
    <div class="row text-center my-3">
        <h3>I libri più venduti del mese!</h3>
    </div>
    <div class="row">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner carosello">

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
    



    <div class="swiper mySwiper container">
        <div class="row text-center my-5">
            <h3>Tutti i nostri libri!</h3>
        </div>
        <div class="row">
            <div class="col mb-3">
                <input type="text" placeholder="Cerca un libro..." id="search"/>
            </div>
        </div>
        <div class="swiper-wrapper content row">
        </div>
    </div>
    <div class="swiper-button-next" style=" opacity: 0.7;color: #fff;transition: all 0.3s ease;"></div>
    <div class="swiper-button-prev" style=" opacity: 0.7;color: #fff;transition: all 0.3s ease;"></div>
    <div class="swiper-pagination"></div>
</div>




















@section scripts{
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/ListBook.js"></script>
<script type="text/javascript">

   //$(document).ready(
search();
   //);
   document.getElementById('search').addEventListener('keyup', search);
   function search(){
       let searchString = document.getElementById("search").value
       BookCard(searchString);
   }

   
   function BookCard(searchString){
    document.querySelector('.content').innerHTML = '';
    axios.get('/api/bookapi/get', {params:{searchString : searchString}}).then((result) => 
    {  
        if(result.data.lenght == 0)
        {
            console.log("Non ci sono libri")
        }
        else
        {
            result.data.forEach(book => 
                {
                    document.querySelector('.content').innerHTML += 
                    `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${book.id})" class="card-img-top custom" src="${book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${book.id})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${book.title}</h5>
                                <p> ${book.author}</p>
                            </div>
                        </div>
                    </div>
                    `
                });
                likeAnim();
        }
    }).catch((error) => {
        console.log("C'è stato un errore: ",error);
    });
} 


    function dettagli(id){
        window.open("Home/Details/" + id,"_self")
    }

    function send(Id){
            axios.post('/Api/Favourites/AddFavouriteBook', 
            {
                bookId : Id
            }).then(function (response){
                console.log(response);
            }).catch(function (error){
                console.log(error);
            });
    }



    
   function likeAnim(){
       //let cards=document.querySelectorAll('.card');
       //let likes = document.querySelectorAll('.like');

       /*
       likes.forEach(like=>{
           like.onclick = () => {
               like.classList.add('liked'); 
              };
        });
        */

       let liked = document.querySelectorAll('.btn');
       console.log(liked);
       liked.forEach(heart => {
           heart.onclick = () => {
               heart.setAttribute("disabled", "");
               heart.firstChild.nextElementSibling.classList.add('liked')
               console.log(heart.firstChild.nextElementSibling.classList);
           }
       }
       )
      }
    
    
   
      
   axios.get('/api/bookapi/bestsellers').then((result) => 
    { 
        let size = result.data.length;
        console.log(result)
        if(size <= 3){
            document.querySelector('.carosello').innerHTML = 
            `
            <div class="carousel-item active">
                <div class="row first-slide"></div>
            </div> 
            `
        }else if(size <= 6){
            document.querySelector('.carosello').innerHTML = 
            `
                <div class="carousel-item active">
                    <div class="row first-slide"></div>
                </div> 
                <div class="carousel-item">
                    <div class="row second-slide"></div>
                </div>
            `
        }else{
            document.querySelector('.carosello').innerHTML = 
            `
                <div class="carousel-item active">
                    <div class="row first-slide"></div>
                </div> 
                <div class="carousel-item">
                    <div class="row second-slide"></div>
                </div>
                <div class="carousel-item">
                    <div class="row third-slide"></div>
                </div>
            `
        }

        if(size <= 3)
        {
            
            for(let i = 0; i < size; i++)
                {
                    document.querySelector('.first-slide').innerHTML += 
                    `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${result.data[i].book.bookId})" class="card-img-top custom" src="${result.data[i].book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${result.data[i].book.bookId})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${result.data[i].book.title}</h5>
                                <p> ${result.data[i].book.author}</p>
                            </div>
                        </div>
                    </div>
                    `
                }
        }
        else if(size <=6)
        {
            
            for(let i = 0; i < 3; i++)
            {
                document.querySelector('.first-slide').innerHTML += 
                `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${result.data[i].book.bookId})" class="card-img-top custom" src="${result.data[i].book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${result.data[i].book.bookId})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${result.data[i].book.title}</h5>
                                <p> ${result.data[i].book.author}</p>
                            </div>
                        </div>
                    </div>
                `
            }

            
            for(let i = 3; i < size; i++)
            {
                document.querySelector('.second-slide').innerHTML += 
                `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${result.data[i].book.bookId})" class="card-img-top custom" src="${result.data[i].book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${result.data[i].book.bookId})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${result.data[i].book.title}</h5>
                                <p> ${result.data[i].book.author}</p>
                            </div>
                        </div>
                    </div>
                `
            }
        }
        else
        {
            
            for(let i = 0; i < 3; i++)
            {
                document.querySelector('.first-slide').innerHTML += 
                `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${result.data[i].book.bookId})" class="card-img-top custom" src="${result.data[i].book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${result.data[i].book.bookId})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${result.data[i].book.title}</h5>
                                <p> ${result.data[i].book.author}</p>
                            </div>
                        </div>
                    </div>
                `
            }

            for(let i = 3; i < 6; i++)
            {
                document.querySelector('.second-slide').innerHTML += 
                `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${result.data[i].book.bookId})" class="card-img-top custom" src="${result.data[i].book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${result.data[i].book.bookId})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${result.data[i].book.title}</h5>
                                <p> ${result.data[i].book.author}</p>
                            </div>
                        </div>
                    </div>
                `
            }
            
            for(let i = 6; i < size; i++)
            {
                document.querySelector('.third-slide').innerHTML += 
                `   
                    <div class="col mb-3">
                        <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                <img onclick="dettagli(${result.data[i].book.bookId})" class="card-img-top custom" src="${result.data[i].book.urlImage}" alt="" style="">
                            <div class="card-body">
                                <button class="btn" type="button" onclick="send(${result.data[i].book.bookId})" >
                                    <i class="fa-solid fa-heart fs-4 like"></i>
                                </button>
                                <h5>${result.data[i].book.title}</h5>
                                <p> ${result.data[i].book.author}</p>
                            </div>
                        </div>
                    </div>
                `
            }
        }
    }).catch((error) => {
        console.log('Errore nel carosello',error)
    });
      
      
      
      
      
      
      
      
      
      /*axios.get('/api/bookapi/bestsellers').then((result1) => {
        console.log(result1)
        let size = result1.data.length;
        if(size <= 3)
        {
            document.querySelector('.carosello').innerHTML = `<div class="carousel-item active first-slide">`
            for(let q=0; q<3; q++)
            {
                let id = result1.data[q].bookid;
                axios.get('/api/bookapi/details', {
                    params: {
                        id: id
                    }
                }).then((result2) => {
                    document.querySelector('.carosello').innerHTML += 
                        `   
                        <div class="col mb-3 d-inline-block">
                            <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                    <img onclick="dettagli(${result2.data.id})" class="card-img-top custom" src="${result2.data.urlImage}" alt="" style="">
                                <div class="card-body">
                                    <button class="btn" type="button" onclick="send(${result2.data.id})" >
                                        <i class="fa-solid fa-heart fs-4 like"></i>
                                    </button>
                                    <h5>${result2.data.title}</h5>
                                    <p> ${result2.data.author}</p>
                                </div>
                            </div>
                        </div>
                        `
                }).catch((error2) => {
                console.log(error2)
                })
            }
                document.querySelector('.carosello').innerHTML = `</div>`
        }
        else
        {
            //prima slidde
            document.querySelector('.carosello').innerHTML = `<div class="carousel-item active first-slide"></div>`
            for(let q=0; q<3; q++)
            {
                let id = result1.data[q].bookid;
                axios.get('/api/bookapi/details', {
                    params: {
                        id: id
                    }
                }).then((result2) => {
                    document.querySelector('.first-slide').innerHTML += 
                        `   
                        <div class="col mb-3 d-inline-block">
                            <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                    <img onclick="dettagli(${result2.data.id})" class="card-img-top custom" src="${result2.data.urlImage}" alt="" style="">
                                <div class="card-body">
                                    <button class="btn" type="button" onclick="send(${result2.data.id})" >
                                        <i class="fa-solid fa-heart fs-4 like"></i>
                                    </button>
                                    <h5>${result2.data.title}</h5>
                                    <p> ${result2.data.author}</p>
                                </div>
                            </div>
                        </div>
                        `
                }).catch((error2) => {
                console.log(error2)
                })
            }
            //fine prima slide
            //successive
            let numberOfSlides = Math.ceil(size/3);
            for(i=0; i<(numberOfSlides-1);i++)
            {
                let indiceCard = 3;
                if((size-indiceCard) >= 3)
                {
                    debugger;
                    //genero le slide centali
                    document.querySelector('.carosello').innerHTML += `<div class="carousel-item ${i}-slide"></div>`
                    for(j=indiceCard; j < indiceCard+3; j++)
                    {
                        let id = result1.data[j].bookid;
                        axios.get('/api/bookapi/details', {
                            params: {
                                id: id
                            }
                        }).then((result2) => {
                            let nomeclasse= '.'+ i + '-slide'
                            document.querySelector(nomeclasse).innerHTML += 
                                `   
                                <div class="col mb-3 d-inline-block">
                                    <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                            <img onclick="dettagli(${result2.data.id})" class="card-img-top custom" src="${result2.data.urlImage}" alt="" style="">
                                        <div class="card-body">
                                            <button class="btn" type="button" onclick="send(${result2.data.id})" >
                                                <i class="fa-solid fa-heart fs-4 like"></i>
                                            </button>
                                            <h5>${result2.data.title}</h5>
                                            <p> ${result2.data.author}</p>
                                        </div>
                                    </div>
                                </div>
                                `
                        }).catch((error2) => {
                        console.log(error2)
                        })
                        indiceCard++
                    }
                    document.querySelector('.carosello').innerHTML += `<div class="carousel-item">`
                } 


                else if((size-indiceCard) >= 3 && (size-indiceCard) != 0)
                {
                    document.querySelector('.carosello').innerHTML += `<div class="carousel-item last-slide"></div>`
                    for(j=indiceCard; indiceCard < size-indiceCard; j++)
                    {
                        let id = result1.data[j].bookid;
                        axios.get('/api/bookapi/details', {
                            params: {
                                id: id
                            }
                        }).then((result2) => {
                            document.querySelector('.last-slide').innerHTML += 
                                `   
                                <div class="col mb-3 d-inline-block">
                                    <div class="card text-center h-100 mx-auto shadow" id="zoom" style="width: 18rem">
                                            <img onclick="dettagli(${result2.data.id})" class="card-img-top custom" src="${result2.data.urlImage}" alt="" style="">
                                        <div class="card-body">
                                            <button class="btn" type="button" onclick="send(${result2.data.id})" >
                                                <i class="fa-solid fa-heart fs-4 like"></i>
                                            </button>
                                            <h5>${result2.data.title}</h5>
                                            <p> ${result2.data.author}</p>
                                        </div>
                                    </div>
                                </div>
                                `
                        }).catch((error2) => {
                        console.log(error2)
                        })
                        indiceCard++
                    }
                    document.querySelector('.carosello').innerHTML += `<div class="carousel-item">`
                }
            }
        }
    })*/
</script>
}

