@section CssFile{
         <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
             <link rel="stylesheet" href="./css/ListBook.css">
}
  
  
  
  <div class="container">
  <section>
       <div class="swiper mySwiper container">
        <div class="swiper-wrapper content"></div>
      </div>
  
  
      <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </section>
    </div>

  





    @section Scripts{
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            <script src="./js/ListBooks.js"></script>
            <script type="text/javascript">

        BookCard();




        function BookCard(){
            axios.get('/Api/Book/Get').then((result) => {

                if {
                  result.data.forEach(post => {
                        document.querySelector('.content').innerHTML += 
             `   <div class="swiper-slide card">          
                <div class="card-content">
              <div class="image">
                <img src=${books.UrlImage }alt="">
              </div>
              <div style="padding-top:10px">
                <span >${books.Title}</span>
              </div>
              <div class="rating">
                <i class="fa-solid fa-heart"></i>
              </div>
            </div>
          </div>
        


                          
                            `
                    });
                }

            }

            ).catch((error) => {
                console.log("C'è stato un errore: ");
            });
        }
    
    </script>
    }
  