
<div class="container">
      <div class="swiper mySwiper container">
         <div class="swiper-wrapper content row">
         </div>
      </div>
      <div class="swiper-button-next" style=" opacity: 0.7;color: #fff;transition: all 0.3s ease;"></div>
      <div class="swiper-button-prev" style=" opacity: 0.7;color: #fff;transition: all 0.3s ease;"></div>
      <div class="swiper-pagination"></div>
</div>

@section Scripts{
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/ListBook.js"></script>
<script type="text/javascript">
   BookCard();
   function BookCard(){
    axios.get('/api/bookapi/get').then((result) => 
    {  
        console.log("Siamo QUIIII" , result)
        if(result.data.lenght == 0)
        {
            console.log("Non ci sono libri")
        }
        else
        {
            result.data.forEach(book => 
                {
                    console.log("Ho preso i libri")
                    document.querySelector('.content').innerHTML += 
                    `   
                    <div class="col">
                    <div class="swiper-slide card text-center h-100" style=" width: 18rem">          
                            <img onclick="dettagli(${book.id})" class="card-img-top" src="${book.urlImage}" alt="" width="200">
                            <div class="card-body">
                            <div class="rating">
                            <form class="d-inline">
                                <button type="submit" onclick="send(${book.id})">
                                    <i class="fa-solid fa-heart"></i>
                                </button>
                            <form>
                            </div>
                        </div>
                    </div>
                    </div>
                    `
                });
        }
    }).catch((error) => {
        console.log("C'è stato un errore: ");
    });
} 


    function dettagli(id){
        window.open("Home/Details/" + id,"_self")
    }
    function send(Id){
        axios.post('Api/Favourites/AddFavouriteBook', {id : Id});
    }
</script>
}