
<div class="container">
   <section>
      <div class="swiper mySwiper container">
         <div class="swiper-wrapper content">
         </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
   </section>
</div>

@section Scripts{
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/ListBook.js"></script>
<script type="text/javascript">
   BookCard();
   function BookCard(){
    axios.get('/api/book/get').then((result) => 
    {  
        console.log("Siamo QUIIII" , result)
        if(result.data.lenght == 0)
        {
            console.log("Non ci sono libri")
        }
        else
        {
            result.data.forEach(book => 
                {
                    console.log("Ho preso i libri")
                    document.querySelector('.content').innerHTML += 
                    `   
                    <div class="swiper-slide card">          
                        <div class="card-content">
                            <div class="image">
                                <img src="${book.urlImage}" alt="" width="200">
                            </div>
                            <div style="padding-top:10px">
                            <span >${book.title}</span>
                            </div>
                            <div class="rating">
                            <i class="fa-solid fa-heart"></i>
                            </div>
                        </div>
                    </div>
                    `
                });
        }
   
    }).catch((error) => {
        console.log("C'è stato un errore: ");
    });
}   
</script>
}