
<div class="container">
      <div class="swiper mySwiper container">
         <div class="swiper-wrapper content row">
         </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
</div>

@section Scripts{
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="~/js/ListBook.js"></script>
<script type="text/javascript">
   BookCard();
   function BookCard(){
    axios.get('/api/book/get').then((result) => 
    {  
        console.log("Siamo QUIIII" , result)
        if(result.data.lenght == 0)
        {
            console.log("Non ci sono libri")
        }
        else
        {
            result.data.forEach(book => 
                {
                    console.log("Ho preso i libri")
                    document.querySelector('.content').innerHTML += 
                    `   
                    <div class="col-md-4">
                        <div class="swiper-slide card text-center" style=" width: 15rem">          
                            <img class="card-img-top" src="${book.urlImage}" alt="" style="height:380px ; width:250px;" width="200">
                             <i class="fa-solid fa-heart" style="color: black; z-index:1;position:absolute;bottom:15px;left:129px;"></i>
                            
                        </div>
                     </div>
                   
                    `
                });
        }
   
    }).catch((error) => {
        console.log("C'è stato un errore: ");
    });
}   
</script>
}