<div class="container">
    <div class="row">
        <div class="col">
            <h1><em>Grazie di averci scelto!</em></h1>
            <p>L'ordine è andato a buon fine</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://media.istockphoto.com/vectors/cute-school-girl-carrying-big-pile-of-books-vector-id514781014?k=20&m=514781014&s=612x612&w=0&h=YEz37YD1L2H8FgsjHfQBVqsgYFF90nVxlFD6G3X1JY0=" alt="ragazza felice"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Verrai informato al più presto</p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        setTimeout(redirect, 6000)
        function redirect(){
             window.location.href = "/Home"
        }
    </script>
}